{% extends 'base.html.twig' %}

{% block title %}CBDB - {{ comic.title }}{% endblock %}

{% block body %}
    <div class="example-wrapper">
       <h1>{{ comic.title }}</h1>
        <table>
            <tr>
                <th>comicID</th>
                <td>{{ comic.comicId }}</td>
            </tr>
            <tr>
                <th>title</th>
                <td>{{ comic.title }}</td>
            </tr>
            <tr>
                <th>issue No</th>
                <td>{{ comic.issueNumber }}</td>
            </tr>
            <tr>
                <th>Issue Title</th>
                <td>{{ comic.issueTitle }}</td>
            </tr>
            <tr>
                <th>pages</th>
                <td>{{ comic.pageCount }}</td>
            </tr>
            <tr>
                <th>price</th>
                <td>{{ comic.coverPrice }} {{ comic.currency }}</td>
            </tr>
            <tr>
                <th>language</th>
                <td>{{ comic.language }}</td>
            </tr>
            <tr>
                <th>cbdbId</th>
                <td>{{ comic.cbdbId }}</td>
            </tr>
            <tr>
                <th>publisher</th>
                <td>{{ comic.publisher }}</td>
            </tr>
            <tr>
                <th>type</th>
                <td>{{ comic.type }}</td>
            </tr>
        </table>
    </div>
{% endblock %}
